<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Conference</title>
    <script>
        function openWindow(id) {
            window.location.href = "/topics/" + id;
        }
    </script>
</head>
<header th:include="header"></header>
<body>

<div class="container">
    <div class="text-center" style="margin-top: 50px">
        <h1 th:utext="${conference.name}"></h1>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col" th:text="#{topic}"/>
            <th scope="col" th:text="#{speaker}"/>
            <th scope="col" th:text="#{summary}"/>
            <th scope="col" th:text="#{start_time}"/>
            <th scope="col" th:text="#{rating}"/>
        </tr>
        </thead>
        <tbody>
        <tr th:each="topic : ${conference.topic}" th:onclick="'openWindow('+${topic.id}+');'">
            <td th:text="${topic.name}"></td>
            <td th:text="${topic.speaker}"></td>
            <td th:text="${topic.summary}"></td>
            <td th:text="${#calendars.format(topic.dateTime,'dd-MM-yyyy HH:mm')}"></td>
            <td th:text="${topic.rate}"></td>
        </tr>
        </tbody>
    </table>

    <form action="#" th:action="|${conference.id_hash}/topic/|" method="get">
        <button class="btn btn-outline-dark" th:text="#{add_new_topic}" />
    </form>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>
</html>