<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="${conference.name}"></title>
</head>
<body>
        <a th:href="'/'"><h2>All conference</h2></a>
        <h1 th:utext=" |Conference: ${conference.name}| "></h1>
        <h2 th:text="|About conference: ${conference.info}|"></h2>
                <h3>Topic list:</h3>
                <table>
                    <thead>
                        <tr>
                            <th> Topic name </th>
                            <th> Date </th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr th:if="*{conference.topic.isEmpty()}">
                        <td colspan="2"> No Topics Available </td>
                    </tr>
                        <tr th:each="topic : ${conference.topic}">
                            <td>
                                <a th:href="'/topics/'+${topic.id}">
                                    <h4 th:text="${topic.name}"></h4>
                                </a>
                            </td>
                            <td><h4 th:text="'Date & time: '+${#calendars.format(topic.dateTime,'dd-MM-yyyy HH:ss')}"></h4></td>
                        </tr>
                </tbody><br>
                </table>
        <form action="#" th:action="|${conference.id_hash}/topic/|" method="get">
            <button><h5>Add new topic</h5></button>
        </form>
</body>
</html>