<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Conferences</title>
</head>
<div th:include="header"></div>
<body >
<h1>Conference list</h1>
<table>
    <thead>
        <tr>
            <th>Conference name</th>
        </tr>
    </thead>
    <tbody>
    <tr th:if="*{conferences.isEmpty()}">
        <td colspan="2"> No Conferences Available </td>
    </tr>
    <tr th:each="conference : ${conferences}">
        <td>
            <a th:href="|/${conference.id_hash}|">
            <h4 th:text="${conference.name}"></h4>
        </a>
        </td>
    </tr>
    </tbody>
</table>
<form sec:authorize="hasAnyAuthority('ADMIN', 0)" action="#" th:action="|/conference|" method="get">
    <button>Add new conference</button>
</form>
</body>
</html>