<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home page</title>
</head>
<header th:include="header"></header>
<body>
<h1>Welcome to "Confass"</h1>
<h3>Вас вітає асистент конференцій.
    <br>З допомогою нашого додатку можна:
<ul>
    <li>Додавати конференції</li>
    <li>Додавати теми доповідей, час проведення та хто доповідатиме</li>
    <li>Слідкувати за розкладом доповідей</li>
    <li>Задавати питання доповідачам та/або лайкати питання, які Вам сподобались</li>
    <li>Лайкати доповіді</li>
</ul>
</h3>

</body>
</html>