<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title th:text="${topic.name}">Topic</title>-->
<!--</head>-->
<!--<body th:object="${topic}">-->
<!--<a th:href="|/${topic.conference.id_hash}|"><h1 th:utext="|Conference: *{conference.name}|"></h1></a>-->
<!--<h2 th:utext="|Topic: *{name} by speaker *{speaker} at ${#calendars.format(topic.dateTime,'dd-MM-yyyy HH:ss')}|"></h2>-->
<!--<h2 > Summary:</h2>-->
<!--<p th:utext="*{summary}"></p>-->
<!--<p th:utext="|Rate: *{rate}|"></p>-->
<!--<form method="post" th:action="@{|/topics/${topic.id}/like|}">-->
    <!--<button >Like</button>-->
<!--</form>-->
<!--<form method="post" th:action="@{|/topics/${topic.id}/dislike|}">-->
    <!--<button >Dislike</button>-->
<!--</form>-->

<!--<table>-->
    <!--<thead>-->
    <!--<tr>-->
        <!--<th> Question by </th>-->
        <!--<th> Text </th>-->
        <!--<th> Rate </th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr th:if="*{questions.isEmpty()}">-->
        <!--<td colspan="2"> No Questions Available </td>-->
    <!--</tr>-->
    <!--<tr th:each="question : *{questions}">-->
        <!--<td><span th:text="${question.email}"></span></td>-->
        <!--<td><span th:text="${question.text}"> Text </span></td>-->
        <!--<td><span th:text="${question.rate}"> Rate </span></td>-->
        <!--<td>-->
            <!--<form method="post" th:action="@{|/topics/${topic.id}/questions/${question.id}/like|}">-->
                <!--<button>Like</button>-->
            <!--</form>-->
        <!--</td>-->
        <!--<td>-->
            <!--<form method="post" th:action="@{|/topics/${topic.id}/questions/${question.id}/dislike|}">-->
                <!--<button>Dislike</button>-->
            <!--</form>-->
        <!--</td>-->
    <!--</tr>-->
    <!--</tbody>-->
<!--</table>-->
<!--<form action="#" th:action="|/topics/${topic.id}/question|" method="get">-->
    <!--<button><h5>Add new question</h5></button>-->
<!--</form>-->
<!--</body>-->
</html>