<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <title>New user</title>
</head>
<body>
<form id="search-form">
    <div class="form-group">
        <input type="text" class="form-control" name="firstName" id="first-name" placeholder="First name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="lastName" id="last-name" placeholder="Last name">
    </div>
    <div class="form-group">
        <input id="email" type="email" class="form-control" name="form-email"  placeholder="email@example.com">
    </div>
    <div class="form-group">
        <input  type="tel" class="form-control" name="phone" id="phone" placeholder="+380671234567">
    </div>
    <div class="form-group">
        <input id="password" type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="password-confirm" id="password-confirm" placeholder="Confirm">
    </div>
    <div class="form-group row px-3">
        <button type="submit" id="save" class="btn btn-outline-success col-sm mr-1">Save</button>
        <button type="reset" id="reset" class="btn btn-outline-danger col-sm ml-1">Reset</button>
    </div>
</form>
</body>
<script>
    $(document).ready(function () {

        $("#search-form").submit(function (event) {

            //stop submit the form, we will post it manually.
            event.preventDefault();

            fire_ajax_submit();

        });

    });

    function fire_ajax_submit() {
        let user = {
            "firstName" : $("#first-name").val(),
            "lastName" : $("#last-name").val(),
            "email" : $("#email").val(),
            "phone" : $("#phone").val(),
            "password" : $("#password").val()
        };
        let token = $('#_csrf').attr('content');
        let header = $('#_csrf_header').attr('content');

        $.ajax({
            type: 'POST',
            url: '/users/submit/new',
            data: JSON.stringify(user),
            contentType: 'application/json',
            dataType: 'text',
            success: function(data){
                alert('success ' + data);
            },
            error: function(msg){
                alert('error '+ JSON.stringify(msg))
            },
            beforeSend: function(xhr) {
            xhr.setRequestHeader(header, token);
        }
        });
    }
</script>
</html>