<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Topic</title>
</head>

<body>
<div class="container">
    <div th:include="header"></div>
    <h1 class="text-center" th:text="${topic.name}">Topic name</h1>
    <h4 th:text="${topic.summary}" class="">Topic summary</h4>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" th:text="|Question (Total:${topic.questions.size()})|">questions</th>
            <th class="text-center"
                style="width: 10%"
                scope="col">Rate</th>
            <th class="text-center"
                style="width: 15%"
                scope="col"
                sec:authorize="hasAnyAuthority('ADMIN','0','MODERATOR','1')">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question,iter : ${topic.questions}">
        <!--<tr th:each="question,iter : ${#lists.sort(topic.questions)}">-->
            <td th:text="${iter.index}+1"></td>
            <td th:text="${question.text}"></td>
            <td class="text-center">
                <button th:classappend="${question.hasLike(#authentication.name)} ? 'btn btn-secondary btn-sm' : 'btn btn-primary btn-sm'"
                        th:value="${#authentication.name}"
                        th:onclick="|like(${question.id},value)|">
                    <span id="like-button" class="badge badge-light" th:text="${question.likes.size()}">0</span> Like
                </button>
            </td>
            <td sec:authorize="hasAnyAuthority('ADMIN','0','MODERATOR','1')">
                <select class="form-control form-control-sm" th:onchange="|changeQuestionStatus(${question.id}, value)|">
                    <option th:each="status:${questionStatuses}"
                            th:value="${status}"
                            th:text="${status.name}"
                            th:selected="${status == question.status}">
                    </option>
                </select>
            </td>
        </tr>
        </tbody>
    </table>
    <form action="#" th:action="|/topics/${topic.id}/question|" th:object="${question}" method="post">
        <div>
            <input type="hidden" id="email" th:id="email" th:name="email" th:value="${#authentication.name}">
            <textarea id="question-text" class="form-control" aria-label="Write your question:" placeholder="Write your question:" th:field="*{text}"></textarea>
        </div>
        <div class="float-right mt-2">
            <input class="btn btn-success" type="submit" value="Add new question" />
            <input class="btn btn-danger" type="reset" value="Reset" />
        </div>
    </form>
</div>
<script type="text/javascript">
    let token = $('#_csrf').attr('content');
    let header = $('#_csrf_header').attr('content');
    function changeQuestionStatus(questionId, status) {
        $.ajax({
            type:'POST',
            url:"/cqs",
            contentType: "application/json",
            data: JSON.stringify({
                "id": questionId,
                "status":status
            }),
            dataType: "application/json",
            beforeSend: function(xhr) {
                xhr.setRequestHeader(header, token);
            }
        });
    }
    function like(questionId, email) {
        $.ajax({
            type:'POST',
            url:"/like/question",
            contentType: "application/json",
            data: JSON.stringify({
                "id": questionId,
                "likes":[
                    {
                        "email":email
                    }
                ]
            }),
            dataType: "text",
            beforeSend: function(xhr) {
                xhr.setRequestHeader(header, token);
            }
        });
        location.reload();
    }
</script>
</body>
</html>