<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-maxlength/1.7.0/bootstrap-maxlength.min.js"></script>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Topic</title>
</head>
<header th:include="header"></header>
<body>
<div class="container">
    <h1 class="text-center" th:text="${topic.name}">Topic name</h1>
    <h4 th:text="${topic.summary}">Topic summary</h4>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col"
                style="width: 5%">#</th>
            <th scope="col"
                style="width: 70%"
                th:text="|#{questions} (Total:${topic.questions.size()})|">questions</th>
            <th class="text-center"
                style="width: 10%"
                scope="col" th:text="#{rating}">Rate</th>
            <th class="text-center"
                style="width: 15%"
                scope="col"
                sec:authorize="hasAnyAuthority('ADMIN','0','MODERATOR','1')" th:text="#{status}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question,iter : ${topic.getSortedQuestions()}"
            th:classappend="${question.status.ordinal() == 1} ? 'table-warning'
            : (${question.status.ordinal() == 2} ? 'table-success'
            : (${question.status.ordinal() == 3} ? 'table-danger'))">
            <td th:text="${iter.index}+1"></td>
            <td th:text="${question.text}"></td>
            <td class="text-center">
                <button th:classappend="${question.hasLike(#authentication.name)} ? 'btn btn-secondary btn-sm' : 'btn btn-primary btn-sm'"
                        th:value="${#authentication.name}"
                        th:onclick="|like(${question.id},value)|">
                    <span id="like-button" class="badge badge-light" th:text="${question.likes.size()}">0</span>
                    <span th:text="#{like}"/>
                </button>
            </td>
            <td sec:authorize="hasAnyAuthority('ADMIN','0','MODERATOR','1')">
                <select class="form-control form-control-sm" th:onchange="|changeQuestionStatus(${question.id}, value)|">
                    <option th:each="status:${questionStatuses}"
                            th:value="${status}"
                            th:text="${status.name}"
                            th:selected="${status == question.status}">
                    </option>
                </select>
            </td>
        </tr>
        </tbody>
    </table>
    <form action="#"
          th:action="|/topics/${topic.id}/question|"
          th:object="${question}"
          method="post"
          class="needs-validation">
        <div>
            <input type="hidden"
                   id="email"
                   th:id="email"
                   th:name="email"
                   th:value="${#authentication.name}">
            <div class="form-group">
                <textarea id="question-text"
                          class="form-control"
                          th:aria-label="#{write_your_question}"
                          th:placeholder="#{write_your_question}"
                          rows="3"
                          maxlength="255"
                          th:field="*{text}"
                          required></textarea>
            </div>
        </div>
        <div class="float-right mt-2">
            <input class="btn btn-success" type="submit" th:value="#{add_new_question}"/>
            <input class="btn btn-danger" type="reset" th:value="#{reset}"/>
        </div>
    </form>
</div>
<script type="text/javascript">
    let token = $('#_csrf').attr('content');
    let header = $('#_csrf_header').attr('content');
    function changeQuestionStatus(questionId, status) {
        $.ajax({
            type:'POST',
            url:"/cqs",
            contentType: "application/json",
            data: JSON.stringify({
                "id": questionId,
                "status":status
            }),
            dataType: "application/json",
            beforeSend: function(xhr) {
                xhr.setRequestHeader(header, token);
            }
        });
        setTimeout(function(){
            window.location.reload(true)
        }, 200);
    }
    function like(questionId, email) {
        $.ajax({
            type:'POST',
            url:"/like/question",
            contentType: "application/json",
            data: JSON.stringify({
                "id": questionId,
                "likes":[
                    {
                        "email":email
                    }
                ]
            }),
            dataType: "text",
            beforeSend: function(xhr) {
                xhr.setRequestHeader(header, token);
            }
        });
        setTimeout(function(){
            window.location.reload(true)
        }, 200);
    }
    $('textarea').maxlength({
        alwaysShow: true,
        placement: 'bottom-left-inside',
        warningClass: "label label-success",
        limitReachedClass: "label label-danger",
        validate: true
    });
</script>
</body>
</html>