<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Users</title>
</head>
<span th:replace="fragments/header :: mainNavBar"></span>
<body>
<div class="container" th:object="${users}">
    <h1 class="text-center" th:text="#{users.users}">Users</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col"
                style="width: 5%">#</th>
            <th th:text="#{users.name}">Name</th>
            <th th:text="#{users.email}">E-mail</th>
            <th th:text="#{users.phone}">Phone</th>
            <th class="text-center"
                scope="col"
                style="width: 13%"
                th:text="#{users.role}">Role</th>
        </tr>
        </thead>
        <tbody id="users-table-body">
        <tr th:each="u,iter:${users}" th:value="${u.email}">
            <td th:text="${iter.index}+1"></td>
            <td th:text="|${u.firstName} ${u.lastName}|"></td>
            <td th:text="${u.email}"></td>
            <td th:text="${u.phone}"></td>
            <td id="td-user-role">
                <select class="form-control form-control-sm" th:onchange="|changeRole(${u.id}, value)|">
                    <option th:each="role:${roles}"
                            th:value="${role}"
                            th:text="${role.name}"
                            th:selected="${role == u.role}">
                    </option>
                </select>
            </td>
        </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-outline-dark mt-3" data-toggle="modal" data-target="#exampleModal"
            sec:authorize="hasAnyAuthority('ADMIN', 0)"
            th:text="#{users.new-user}">New user</button>
    <form id="users-profile-form" action="#" th:action="@{/users/profile}" th:method="post">
        <input type="hidden" name="email" id="email-input">
    </form>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" th:text="#{users.new-user}"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/users/save}" th:object="${userMap}" method="post">
                    <div class="form-group" >
                        <input
                                type="text"
                                class="form-control"
                                name="firstName"
                                id="first-name"
                                placeholder="First name"
                                th:field="*{firstName}">
                    </div>
                    <div class="form-group">
                        <input
                                type="text"
                                class="form-control"
                                name="lastName"
                                id="last-name"
                                placeholder="Last name"
                                th:field="*{lastName}">
                    </div>
                    <div class="form-group">
                        <select class="form-control form-control-sm" th:field="*{role}">
                            <option th:each="role:${roles}"
                                    th:value="${role}"
                                    th:text="${role.name}"
                                    th:selected="${role.USER}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input
                                type="tel"
                                class="form-control"
                                name="phone" id="phone"
                                placeholder="+380671234567"
                                th:field="*{phone}">
                    </div>
                    <div class="form-group">
                        <input
                                id="email"
                                type="email"
                                class="form-control"
                                name="form-email"
                                placeholder="email@example.com"
                                th:field="*{email}" required>
                    </div>
                    <div class="form-group">
                        <input
                                id="password"
                                type="password"
                                class="form-control"
                                name="password"
                                placeholder="Password"
                                th:field="*{password}" required>
                    </div>
                    <div class="form-group">
                        <input
                                type="password"
                                class="form-control"
                                name="password-confirm"
                                id="password-confirm"
                                placeholder="Confirm">
                    </div>
                    <div class="form-group row px-3">
                        <button type="submit" id="save" class="btn btn-outline-success col-sm mr-1">Save</button>
                        <button type="reset" id="reset" class="btn btn-outline-danger col-sm ml-1">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#users-table-body').on('click','tr', function (evt) {
            let email = $(this).attr('value');
            let $cell=$(evt.target).closest('td');
            if( $cell.attr('id') !== 'td-user-role'){
                $('#email-input').attr('value', email);
                $('#users-profile-form').submit();
            }
        });
    });

    let token = $('#_csrf').attr('content');
    let header = $('#_csrf_header').attr('content');

    function changeRole(userId, role) {
        $.ajax({
            type:'POST',
            url:"/cur",
            contentType: "application/json",
            data: JSON.stringify({
                "id": userId,
                "role":role
            }),
            dataType: "application/json",
            beforeSend: function(xhr) {
                xhr.setRequestHeader(header, token);
            }
        });
    };
</script>
</body>

</html>