<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>New user</title>
</head>
<body>
<li class="px-3 py-2">
<form>
    <div class="form-group">
        <input type="text" class="form-control" id="form-first-name" placeholder="First name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="form-last-name" placeholder="Last name">
    </div>
    <div class="form-group">
        <input  type="email" class="form-control" id="form-email" placeholder="email@example.com">
    </div>
    <div class="form-group">
        <input  type="tel" class="form-control" id="form-phone" placeholder="+380671234567">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="form-password" placeholder="Password">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="form-password-confirm" placeholder="Confirm">
    </div>
    <div class="form-group row px-3">
        <button type="submit" id="save" class="btn btn-outline-success col-sm mr-1">Save</button>
        <button type="reset" id="reset" class="btn btn-outline-danger col-sm ml-1">Reset</button>
    </div>
</form>
</li>
</body>
</html>