<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Users</title>
</head>
<body>
<div class="container" th:object="${users}">
    <div th:include="header"></div>
    <table>
        <thead>
        <tr>
            <th>User name</th>
            <th>E-mail</th>
            <th>Phone</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u : ${users}">
            <td th:text="|${u.firstName} ${u.lastName}|"></td>
            <td th:text="${u.email}"></td>
            <td th:text="${u.phone}"></td>
            <td th:text="${u.role}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>